@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root {
    --color-1: #F6F1F1;
    --color-2: #000000;
    --color-3: #19A7CE;
    --color-4: #146C94;
    --disabled-color: #146C9490;
    --shadow-color: #00000030;
    --border-radius: 15px;
    --measure-1: 10px;
    --measure-2: 20px;
    --measure-3: 30px;
    --transition: 500ms;
}

body {
    background-color: var(--color-1);
    color: var(--color-2);
    font-family: 'Montserrat', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-description-section {
    width: 1000px;
    margin: var(--measure-1) 0px;
}

.main-description-title {
    color: var(--color-4);
}

.main-description-text {
    margin: 0px;
    color: var(--color-2);
}

.simulator-section {
    display: grid;
    grid-template-columns: 40% 55%;
    width: 1000px;
    margin-top: var(--measure-1);
    gap: 5%;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.input-title {
    color: var(--color-2);
    font-weight: 500;
    margin: var(--measure-2) 0px var(--measure-1) 0px;
}

.currency-selection-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.currency-selection-area input {
    display: none;
}

.currency-selection-area input:checked + label {
    background-color: var(--color-3);
    color: var(--color-1);
}

.currency-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 50px;
    background-color: var(--color-4);
    color: var(--color-1);
    border: 1px solid var(--shadow-color);
    border-radius: var(--border-radius);
    font-weight: 500;
}

.currency-label:hover {
    background-color: var(--color-3);
    color: var(--color-1);
    transition: var(--transition);
}

.number-input {
    width: 100%;
    height: 25px;
    margin: 0px;
    font-size: 18px;
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
}

.select-input {
    width: 101.5%;
    height: 30px;
    margin: 0px;
    font-size: 18px;
    text-align: center;
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
}

.submit-button-area {
    display: flex;
    justify-content: center;
    margin-top: var(--measure-3);
}

.right-side {  
    display: flex;
    justify-content: center;
    align-items: center;
}

.simulator-box {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    padding: var(--measure-3);
    background-color: var(--color-4);
    color: var(--color-1);
    box-shadow: 0px 0px 10px var(--shadow-color);
}

.financial-image {
    width: 90%;
}

.text-simulator-box {
    margin: 0px;
    font-weight: 600;
}

.total-amount {
    margin: var(--measure-2) 0px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.loan-info {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    width: 100%;
    margin-bottom: var(--measure-2);
}

.loan-info-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loan-info-title {
    margin: 0px;
    color: var(--color-1);
}

.loan-info-description {
    margin: 0px;
    font-weight: 600;
}

.payment-plan {
    width: 100%;
    margin-bottom: var(--measure-2);
    text-align: center;
}

.restart-button-area {
    display: flex;
    justify-content: center;
}

.button-1 {
    width: 150px;
    height: 40px;
    border: 1px solid var(--shadow-color);
    border-radius: var(--border-radius);
    background-color: var(--color-4);
    color: var(--color-1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.button-1:hover {
    background-color: var(--color-3);
    color: var(--color-1);
    transition: 500ms;
}

.button-1:disabled {
    background-color: var(--disabled-color);
}

.button-2 {
    width: 150px;
    height: 40px;
    border: 1px solid var(--shadow-color);
    border-radius: var(--border-radius);
    background-color: var(--color-3);
    color: var(--color-1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.button-2:hover {
    background-color: var(--color-1);
    color: var(--color-3);
    transition: 500ms;
}

footer {
    margin: auto;
    margin-top: var(--measure-3);
}

.hearth {
    color: var(--color-2);
}